html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;
    
}

header {
    position: sticky;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 24px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}


.sign-in-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.page-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
